body{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	overflow-x: hidden;
	background: linear-gradient(#16284e, #223d77) no-repeat center center fixed;
	background-size: cover;
}

.container{
  	position: relative;
}

#westeros-map{
	text-align: center;
	margin: auto 0;
	padding: 0;
	width: 100%;
	position: absolute;
	transition: width 0.5s; 
}

#westeros-map, img.map, map area{
	outline: none;
}

.pageInfo{
	padding-left: 40px;
	padding-right: 0;
	width: 30%;
	color: white;
	transform: translateX(0%);
	transition: transform 0.5s;
	position: absolute;
}

		.pageInfo h1{
			color: #f0fd9f;
		}

		.pageInfo p{
			font-size: 18px;
		}

		.pageInfo h6{
			font-weight: 100;
			clear: both;
		}

		.pageInfo a{
			text-decoration: none;
			color: #00ABFF;
		}

.articleWindow{
	width: 40%;
	height: 100vh;
	top: 0;
	right: 0;
	background-color: white;
	position: absolute;
	overflow-y: scroll;
	transform: translateX(100%);
	transition: transform 0.5s;
}

.heading{
	width:100%;
	background-color: #d23939;
	color: white;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 40px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: space-between;
	white-space: nowrap;
}
		.heading i {
			cursor: pointer;
			color: #471212
		}

.articleBody{
	padding: 10px 40px;
}

.articlePreview{
	display: block;
	margin-bottom: 40px;
}

.articlePreview h2{
	cursor: pointer;
	color: #257FFF;
}

.imgsmall{
	width: 45%;
}

.img{
	margin-right: auto;
	text-align: center;
	width: 100%;
	height: auto;
	position: relative;
	box-shadow: 2px 2px 10px 0px grey;
}

		.imgcaption {
			font-size: 15px;
			color: gray;
		}

.author{
	margin-bottom: 10px;
}

		.authorDetail{
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}

		.author h4{
			display: inline;
			margin-top: -30px;
		}

		.authorimg{
			margin-right: 20px;
		}

		.author img{
			vertical-align: middle;
			border: solid 2px #f0fd9f;
			border-radius: 50%;
		}

		.authorimg img{
			width: 200px;
		}

	.infoButtons{
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}
	
		.button{
			width: 180px;
			text-align: center;
			border-radius: 20px;
			background-color: #1c3261;
			padding: 0.4em;
			margin-right: 10px;
			border: solid 2px white;
			white-space: nowrap;
		}
	
		.button:hover{
			background-color: white;
			color: #1c3261;
			transition: background-color 0.4s;
			cursor: pointer;
		}

		.learnmore {
			background-color:#223d77;
			text-align: center;
			color: white;
			padding: 0.3em;
			width: 110px;
			font-family: Arial, "sans-serif";
			border-radius: 20px 20px 20px 20px;
			border: solid 2px white;
			white-space: nowrap;
			text-decoration: none;
		}

		.learnmore:hover {
			background-color: white;
			color: #223d77;
			transition: background-color 0.4s;
			cursor: pointer;
		}
	
			