@charset "UTF-8";
/* CSS Document */
			
body{
	background: linear-gradient(#16284e, #223d77);
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
}

.container{
	width: 100%;
  	height: 100vh;
  	position: relative;
}

#westerosmap{
	text-align: center;
	margin: auto 0;
	padding: 0;
	width: 100%;
	float: none;
	margin-top: -10px;
	overflow: hidden;
	transition: float 0.5s;
	transition: width 0.5s;
}

#westerosmap, img.map, map area{
	outline: none;
}

#pageinfo{
	margin-top: -965px;
	margin-left: -10px;
	padding-left: 20px;
	padding-right: 0;
	width: 30%;
	color: white;
	clear: left;
	float: left;
	transition: margin-left 0.3s;
}

#pageinfo h1{
	color: #f0fd9f;
}

#pageinfo p{
	font-size: 18px;
}

#pageinfo h6{
	font-weight: 100;
	clear: both;
}

#pageinfo a{
	text-decoration: none;
	color: #00ABFF;
}

.articleWindow{
	width: 0%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: white;
	position: absolute;
	transition: width 0.5s;
	overflow-x: scroll;
}

.heading{
	width:100%;
	background-color: #d23939;
	color: white;
	font-size: 20px;
	font-weight: 600;
	padding: 5px 20px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: space-between;
	white-space: nowrap;
}

.articleBody{
	padding: 10px 40px;
}

.articlePreview{
	display: block;
}

.articlePreview h2{
	cursor: pointer;
	color: #257FFF;
}

.imgcaption {
	font-size: 15px;
	color: gray;
}

#info-buttons{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

	.button{
		width: 180px;
		text-align: center;
		border-radius: 20px;
		background-color: #1c3261;
		padding: 0.4em;
		margin-right: 10px;
		border: solid 2px white;
		white-space: nowrap;
	}

	.button:hover{
		background-color: white;
		color: #1c3261;
		transition: background-color 0.4s;
		cursor: pointer;
	}

.imgsmall{
	width: 45%;
}

.quote{
	text-align: center;
}

.img{
	/* margin-top: -20px; */
	margin-right: auto;
	text-align: center;
	width: 100%;
	height: auto;
	position: relative;
	box-shadow: 2px 2px 10px 0px grey;
}

.author{
	margin-bottom: 10px;
}

.author img{
	vertical-align: middle;
	border: solid 2px #f0fd9f;
	border-radius: 50%;
}

.author h4{
	display: inline;
	margin-top: -30px;
}

.articles .authorabout p{
	width: 85%;
	margin-right: 0;
	padding-right: 0;
}

.authorimg{
	margin-right: 20px;
}

.authorimg img{
	width: 200px;
}

.learnmore {
	background-color:#223d77;
	text-align: center;
	color: white;
	padding: 0.3em;
	width: 110px;
	font-family: Arial, "sans-serif";
	border-radius: 20px 20px 20px 20px;
	border: solid 2px white;
	white-space: nowrap;
	text-decoration: none;
}

.learnmore:hover {
	background-color: white;
	color: #223d77;
	transition: background-color 0.4s;
	cursor: pointer;
}

.authorDetail{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
			
	
			